* {
  box-sizing: border-box;

  /* border: 1px solid rgb(140, 179, 160); */
}

body {
  margin: 0;
}

main {
  margin: auto;
}

header {
  height: 56px;

  padding: 16px;

  display: flex;

  justify-content: space-between;
  align-items: center;
  
}

.start {
  display: flex;
}

#hambugi {
  flex-basis: 20%;
  scale: 1.4;
  border: none;
  background-color: transparent;
  align-items: center;
}

#youtube img {
  width: 100%;
}

#youtube {
  flex-basis: 80%;
  width: 123px;
  height: 56px;
  align-items: center;

  border: none;
  background-color: transparent;

}

.center {
  display: flex;
  align-items: center;
}

.search {
  display: flex;

}

.search-1 {
  width: 600px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-area {
  display: flex;

  height: 40px;
  flex-basis: 90% ;
  
  border: 1px solid #bbb;
  border-radius: 50px 0px 0px 50px;

  align-items: center;
}

#query {
  width: 480px;
  height: 24px;

  border: none;
  background-color: transparent;

  font-size: 18px;
  margin-top: 5px;

  padding-left: 10px;

  flex-basis: 95%;
}

#keyboard {
  color: #5a5a5a;

  flex-basis: 5%;
}

.search-icon {
  border: 1px solid #bbb;
  border-left: none;
  background-color: rgb(230, 230, 230);

  height: 40px;
  flex-basis: 10%;
  border-radius: 0px 50px 50px 0px;

  display: flex;

  justify-content: center;
  align-items: center;

  padding-top: 1px;
}

.search-icon button{
  border: none;
  background-color: transparent;

  font-size: 18px;
}

.mic button {
  width: 40px;
  height: 40px;
  border: none;
  
  border-radius: 50px;

  font-size: 20px;

  margin-left : 20px;
}


.end {
  width: 146px;
  height: 40px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.end section:nth-child(1) button {
  border: none;
  background-color: transparent;

  font-size: 20px;
}

.login {
  width: 94px;
  height: 34px ;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 50px;
}

.login:nth-child(1) {
  color: rgb(0, 89, 255);
}

.login i {
  margin-right: 10px;
}

/* ---------------------------------- */

.container {
  width: 1800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.left {
  flex-basis: 70%;

  display: flex;
  flex-direction: column;
}

.main-video {
  /* background-color: #5a5a5a; */
  height: 700px;
}

.main-video iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.right {
  flex-basis: 20%;
}

.information {
  display: flex;
  flex-direction: column;
}

.Iheader {
  display: flex;
  flex-direction: column;
}


.Iheader > div p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 20px 0px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
}

.profile>div> button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;

  border-radius: 100px;

  position: relative;
}

.profile img {
  width: 40px;
  border-radius: 100px;
  border: none;

  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  
}

.title a {
  text-decoration: none;
  font-weight: bolder;
}

.title p {
  font-size: 12px;
  margin: 0;
  margin-top: 3px;
}

#gudok {
  border: none;
  width: 60px;
  height: 36px;
  border-radius: 30px;

  background-color: rgb(0, 0, 0);
  margin-left: 10px;
}

#gudok>p{
  color: white;
  margin: auto;
}

.gudok-bar {
  display: flex;

  align-items: center;
}

.like {
  /* background-color: saddlebrown; */
  display: flex;
  
  background-color: rgb(240,240,240);

  width: 131px;
  height: 36px;

  border-radius: 30px;

  justify-content: center;
  align-items: center;
  
  margin-right: 10px;
}

.like button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-items: center;
  align-items: center;

  flex-basis: 45%;
}

.like span {
  flex-basis: 10%;
  padding: 0 10px;
}

.like > button > i {
  margin-right: 10px;
}

.like > button > p {
  font-size: 15px;
  font-weight: bolder;
}

#thumbs {
  font-size: 18px;
}

.delike {
  rotate: 180deg;
}

.side {
  display: flex;
}

#side {
  background-color: rgb(240,240,240);
  width: 84px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
  border: 0;
  border-radius: 30px;
}

#side p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 200;
}

#side1 {
  background-color: rgb(240,240,240);
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 30px;
}

/* ------------------------------------------------ */

.Ifooter {
  background-color: rgb(240,240,240);
  height: 64px;
  border-radius: 10px;
  margin: 12px 12px 0px 0px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

.Ifooter span {
  font-size : 14px;
  font-weight: 500;

  line-height: 20px;
}

.under p {
  margin: 0;
  font-size: 14px;
  color: blue;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment1 {
  /* background-color: #5a5a5a; */
  display: flex;
  align-items: center;
}

#comment2 {
  font-weight: bold;
  font-size: 20px;
}

.rota {
  display: flex;
  border: none;
  margin-left: 10px;
  background-color: transparent;

  align-items: center;
  font-size: 14px;
}

.pro-coment {
  display: flex;
}

.pro-coment img{
  width: 40px;
  border-radius: 30px;
  margin-right: 15px;
}

.add-coment {
  flex-basis: 90%;
  border-bottom: 1px solid #bbb;

  display: flex;
  align-items: center;
}

#comment {
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 20px;
}

.comment-1 {
  display: flex;
  flex-direction: column;
}

.comment-1-ji {
  display: flex;
  margin-top: 32px;
}

#Afprofile button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;

  position: relative;
}

#Afprofile button img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 30px;

  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.di1 {
  display: flex;
}

.di1 a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: black;

  margin: 3px 5px;
}

.di1 p {
  margin: 0;
  font-size: 12px;
  color: #5a5a5a;
  margin: 3px 0px;
}

#cute-gang {
  margin: 3px 5px;
}

.di2 {
  /* background-color: #5a5a5a; */
  display: flex;
  align-items: center;
  height: 32px;
}

.di2 button {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;

  font-size: 20px;

  margin-right: 3px;
}

#dilike { 
  rotate: 180deg;
  margin-left: 13px;
}

.di2 p {
  font-size: 12px;
  color: #606060;
  margin: 0;
}

#com1 {
  display: flex;
}

#com2 {
  width: 36px;
  height: 36px;
  position: relative;
  /* border: 1px solid #5a5a5a; */
}

#gang {
  width: 32px;
  border-radius: 20px;
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#heart {
  position: absolute;
  /* background-color: #5a5a5a; */

  bottom: -10px;
  right: -10px;
  margin: auto;

  color: red;
  font-size: 15px;
}

#com1>button>p {
  width: 40px;
}

#Reply button {
  border: none;
  background-color: transparent;
  color: blue;
  margin-right: 10px;
}

#gang2 {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  margin-right: 5px;
}

#Reply {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Reply>p {
  font-size: 20px;
  font-weight: bold;
}

#Reply>button>p {
  font-size: 16px;
  margin: 0;
}

/* ------------------------------------------------------------------ */

.right {
  border: 1px solid beige;
  display: flex;
  flex-direction: column;
}

.advertisement {
  display: flex;
  border: 1.5px solid #bbb;
  
  width: 402px;
  height: 250px;
  border-radius: 10px;
}

#kh {
  width: 200px;
  height: 250px;
  border-radius: 10px 0px 0px 10px;
}

.text {
  margin-left: 10px;
  margin-top: 30px;
}

.text p {
  font-size: 13px;
  line-height:20px;
}

.text br {
  height: -10px;
}

.text > p:nth-child(3) {
  font-weight: 100;
  line-height:10px;
  font-weight: bold;
  margin-top: 30px;
  font-size: 12px;
}

.advertisement button {
  background-color: rgb(93, 100, 192);
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 3px;
  width: 100px;
}

.advertisement button > p {
  /* font-weight: bold; */
  font-size: 10px;
  color: white;
}